#welcome-section
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    h1, h2
        text-align: center
        margin: 0.2em
    h1
        font-size: 7rem
        font-weight: 900
        letter-spacing: 7vw
        background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png)
        background-clip: text
        -webkit-text-fill-color: transparent

    h2
        font-size: 2.5rem
        color: #333333



#projects
    display: flex
    justify-content: space-around
    background-color: #333333
    align-items: center

    article
        margin: 1em
        a
            margin: auto
            color: white
            font-size: 1.1rem
            text-align: center
            img
                display: block

#contact
    margin: 1em
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: repeat(3, 1fr)
    grid-template-area: "social" "contactform"
    justify-content: justify
    a
        display: block
        margin: auto
        grid-row: 1/2
        img
            width: 5vw
            margin: 1em
    form
        display: block
        margin: auto
        grid-row: 2/3
        grid-column: 2/3
        label, input, textarea
            display: block
        textarea
            resize: vertical
        